<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar }"></div>


<h4> 마이페이지 </h4>

<div sec:authentication="principal.username"></div>
<div sec:autorize="hasAuthority('일반유저')">
  <h4>로그인 한 유저한테만 보이는 글</h4>
</div>

<a href="/logout">
  <button>로그아웃</button>
</a>

</body>
</html>